button {
    margin: 8px
}

p {
    color: rgba(95, 94, 99, 0.726);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#playerNumber {
    float: right;
    color: rgb(118, 118, 236);
    font-family: fantasy
}

#playerName {
    color: rgba(69, 70, 71, 0.726);
    font-family: fantasy
}

#captain {
    color: red;
    font-family: fantasy;
    margin-left: 6px;
    /* font-size: 14px; */
}

#alternateCaptain {
    color: blue;
    font-family: fantasy;
    margin-left: 6px;
    /* font-size: 14px; */
}

