<!-- <h2>{{season}} Stats</h2> -->
<!-- <button class='btn btn-danger' (click)="onSelectSeason('20172018')">2018</button> -->
<mat-form-field>
<mat-select placeholder="select season">
    <mat-option *ngFor="let season of seasons" [value]="season" (click)="onSelectSeason(season)">
        {{season}}
    </mat-option>
</mat-select>
</mat-form-field>
<h5>Season: {{seasonFormatted}}</h5>
<p class="nostats" *ngIf="noStats">Sorry, no NHL stats found for {{player.fullName}} for {{seasonFormatted}}</p>
<div *ngIf="!noStats">
<div class="row stats" *ngIf="player.primaryPosition.name!=='Goalie'">
  <div class="col-md-6">
      <p>Games played: {{currentYearStats?.games}}</p>
      <p>Goals {{currentYearStats?.goals}}</p>
      <p>Assists: {{currentYearStats?.assists}}</p>
      <p>Total Points: {{currentYearStats?.points}}</p>
      <p>Average TOI: {{currentYearStats?.timeOnIcePerGame}}</p>
      <p>Points Per Game: {{currentYearStats?.points / currentYearStats?.games|number: '1.2-2'}}</p>
      <p *ngIf="currentYearStats?.games >= 20">Points Pace(82 games): {{currentYearStats?.points / currentYearStats?.games * 82|number: '1.0-0'}}</p>
      <p *ngIf="currentYearStats?.games < 20">Points Pace(82 games): N/A</p>
  </div>
  <div class="col-md-6">
      <p>Plus/Minus: {{currentYearStats?.plusMinus}} </p>
      <p>PowerPlay Goals: {{currentYearStats?.powerPlayGoals}}</p>
      <p>PowerPlay Points: {{currentYearStats?.powerPlayPoints}}</p>
      <p>PIM: {{currentYearStats?.pim}}</p>
      <p>Shots on Goal: {{currentYearStats?.shots}}</p>
      <p>Shots Blocked: {{currentYearStats?.blocked}}</p>
      <p>Hits: {{currentYearStats?.hits}}</p>
  </div>
</div>
<div class="row stats" *ngIf="player.primaryPosition.name==='Goalie'">
    <div class="col-md-6">
        <p>Starts: {{currentYearStats?.gamesStarted}}</p>
        <p>Wins: {{currentYearStats?.wins}} </p>
        <p>Losses: {{currentYearStats?.losses}} </p>
        <p>OT Losses: {{currentYearStats?.ot}}</p>
        <p>GAA: {{currentYearStats?.goalAgainstAverage | number: '1.2-3'}}</p>
        <p>Save %: {{currentYearStats?.savePercentage}}</p>
        <p>Shutouts: {{currentYearStats?.shutouts}}</p>
    </div>
    <div class="col-md-6">
        <p>Total Saves: {{currentYearStats?.saves}}</p>
        <p>ES Saves: {{currentYearStats?.evenSaves}}</p>
        <p>ES Shots Faced: {{currentYearStats?.evenShots}}</p>
        <p>ES Save%: {{currentYearStats?.evenStrengthSavePercentage /100 |number: '0.2-3'}}</p>
        <p>PP Saves: {{currentYearStats?.powerPlaySaves}}</p>
        <p>PP Shots Faced: {{currentYearStats?.powerPlayShots}}</p>
        <p>PP Save%: {{currentYearStats?.powerPlaySavePercentage /100 |number: '0.2-3'}} </p>
    </div>

</div>
</div>




