p {
    color: rgba(95, 94, 99, 0.726);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nostats {
    min-height: 400px;
}

.stats {
    min-height: 400px;
}