p {
    color: rgba(95, 94, 99, 0.726);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


img.profile {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-box {
    max-width: 255px;
    max-height: 330px;
    border: groove rgba(12, 12, 12, 0.397) 0.5px;
    box-shadow: -4px 6px 16px #8888887a;
    background-color: rgba(255, 255, 255, 0.336);
}

.rookie {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.teamName {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#small-team-logo {
    max-width: 50px;
}
#small-team-logo:hover {
    cursor: pointer;
}

#small-flag {
    max-width: 30px;
    margin-bottom: 5px;
}

#playerNumber {
    margin-left: 32px;
    color: rgb(118, 118, 236);
    font-family: fantasy
}

#playerName {
    color: rgba(69, 70, 71, 0.726);
    font-family: fantasy
}