<div class="ccontainer">
  <div class="row">
    <div class="col-md-2 spacing"></div>
    <div class="col-md-5" *ngIf="thisPlayer">
      <h3 id="playerName">{{ thisPlayer.fullName }} <img id="small-flag" src="src\assets\img\flag\{{thisPlayer.nationality}}.png"> <span id="playerNumber">{{ thisPlayer.primaryNumber }}</span></h3>
      <h5 id="team">
          <span><img id="small-team-logo" src="src\assets\img\logo\{{thisPlayer.currentTeam.id}}.png" (click)="navBackToTeam(thisPlayer.currentTeam.id)"></span>
         {{ thisPlayer.currentTeam.name }}
          <span id="captain" *ngIf="thisPlayer.captain">(Captain)</span>
          <span id="alternateCaptain" *ngIf="thisPlayer.alternateCaptain">Alt Captain</span>
          <span class="rookie "*ngIf="thisPlayer.rookie" style="color: red; font-style: italic">Rookie</span>
      </h5>
      <p>Position: {{thisPlayer.primaryPosition.name}}</p>
      <p *ngIf="thisPlayer.primaryPosition.name !=='Goalie'">Shoots: {{thisPlayer.shootsCatches}}</p>
      <p *ngIf="thisPlayer.primaryPosition.name ==='Goalie'">Catches: {{thisPlayer.shootsCatches}}</p>
      <p>Height: {{thisPlayer.height}}</p>
      <p>Weight: {{thisPlayer.weight}} lbs</p>
      <p>Date of Birth: {{thisPlayer.birthDate | date}} ({{thisPlayer.currentAge}} years old)</p>
      <p>Place of Birth: {{thisPlayer.birthCity}},
          <span *ngIf="thisPlayer.nationality === 'USA' || thisPlayer.nationality === 'CAN'"> {{thisPlayer.birthStateProvince}}</span>
          <span *ngIf="thisPlayer.nationality !== 'USA' && thisPlayer.nationality !== 'CAN'"> {{thisPlayer.birthCountry}}</span>
        </p> 
    </div>
    <div class="col-md-3">
      <img class="profile" src="src\assets\img\profile\profile.png">
    </div>
  </div>
  <div class="row" *ngIf="thisPlayer">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <hr>
      <app-season-stats [player]="thisPlayer"></app-season-stats>
    </div>
  </div>
</div>
