<!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-2 teams-list">
        <ul class="list-group row">
        <li class="list-group-item clearfix list-group-item-action"
         style="cursor: pointer;" 
         *ngFor="let team of allTeams"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
         [routerLink]="['/teams', team.id, 'roster']"
         ><span><img class="logo-tabs" src="src\assets\img\logo\{{team.id}}.png">{{team.name}}</span></li>
      </ul>
      </div>
      <div class="col-md-9">
        <div class="team-logo">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<!-- </div> -->