<!-- <div class="container"> -->
  <div name="top"></div>
    <div class="row">
      <div class="col-md-2 col-3 teams-list">
        <ul class="list-group row">
        <li class="list-group-item clearfix list-group-item-action"
        (click)="backToTop()"
         style="cursor: pointer;" 
         *ngFor="let team of allTeams"
         routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" 
         [routerLink]="['/teams', team.id, 'roster']"
         ><img class="logo-tabs" src="assets\img\logo\{{team.id}}.png"><span id="team-name-tab">{{team.name}}</span></li>
      </ul>
      </div>
      <div class="col-8">
        <div class="team-logo">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<!-- </div> -->